.container {
    background: url("clock.png") no-repeat;
    position: relative;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 20%;
    top: 30%;
    left: 48.8%;
    opacity: 0.7;
}

#minute {
    width: 1.5%;
    height: 30%;
    top: 20%;
    left: 49%;
    opacity: 0.7;
}

#second {
    width: .8%;
    height: 33%;
    top: 17%;
    left: 49.3%;
    opacity: 0.7;
}