@import url('https://fonts.googleapis.com/css2?family=Poppins:wgght@300;400;500;600&display=swap');
:root {
    --main-color: #fbc531;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 320px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--main-color);
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked~.main-content header {
    width: clac(100%-70px);
    left: 70px;
}

#nav-toggle:checked~.main {
    margin-left: 70px;
}

#nav-toggle:checked~.main main {
    width: clac(100%-70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 320px;
    position: fixed;
    width: calc(100% - 320px);
    top: 0;
    z-index: 100;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 300ms;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
    color: var(--main-color);
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper span {
    margin-right: 1rem;
    font-size: 2.5rem;
    color: var(--main-color);
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    margin-top: -3px !important;
}

.main {
    margin-left: 320px;
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh-90px);
    width: calc(100% - 320px);
    transition: margin-left 300ms;
}

main {
    background: #fff;
    transition: left 300ms;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.single-card {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.single-card div:first-child span {
    color: var(--text-grey);
}

.single-card div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info span {
    margin-right: .8rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .7rem;
    color: var(--main-color);
}

@media only screen and (max-width:1200px) {
    .sidebar {
        width: 70px;
    }
    .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    .main-content {
        margin-left: 70px;
    }
    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .main-content header {
        width: clac(100%-70px);
        left: 70px;
    }
    .main {
        margin-left: 70px;
    }
    .main main {
        width: clac(100%-70px);
        left: 70px;
    }
}

@media only screen and (max-width:980px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 60% 35%;
    }
}

@media only screen and (max-width:768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 100%;
    }
    .search-wrapper {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .cards {
        grid-template-columns: 100%;
    }
}